<configuration>
	<include
		resource="org/springframework/boot/logging/logback/defaults.xml" />

	<include
		resource="org/springframework/boot/logging/logback/console-appender.xml" />

	<!-- Configuration for production profile -->
	<springProfile name="PROD">
		<!-- <appender name="FILE" class="ch.qos.logback.core.FileAppender"> <file>./employee-service-%d{yyyy-MM-dd}.log</file> 
			<append>true</append> <encoder> <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] 
			- %msg%n</pattern> </encoder> </appender> -->
		<appender name="FILE"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>./employee-service.log</file>
			<rollingPolicy
				class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>./employee-service-%d{yyyy-MM-dd}.log
				</fileNamePattern>
			</rollingPolicy>
			<encoder>
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] - %msg%n</pattern>
			</encoder>
		</appender>
		<root level="INFO">
			<appender-ref ref="FILE" />
		</root>
	</springProfile>
	<!-- Configuration for all other profiles (e.g., default, dev) -->
	<springProfile name="default">
		<root level="INFO">
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>
</configuration>
